APPLICATION_OPENAPI_TITLE=your_openai_title
APPLICATION_OPENAPI_VERSION=your_openai_version
APPLICATION_OPENAPI_DESCRIPTION=your_openai_description
APPLICATION_OPENAPI_NAME=your_openai_name
APPLICATION_OPENAPI_EMAIL=your_openai_email

APPLICATION_SECURITY_JWT_SECRET=your_jwt_secret
APPLICATION_SECURITY_JWT_EXPIRATION=your_jwt_expiration
APPLICATION_SECURITY_JWT_REFRESH_EXPIRATION=your_jwt_refresh_expiration
APPLICATION_SECURITY_JWT_REMEMBER_ME_EXPIRATION=your_jwt_remember_me_expiration

APPLICATION_SECURITY_COOKIES_SECURE=false
APPLICATION_SECURITY_COOKIES_SAME_SITE=Strict

APPLICATION_SUPER_ADMIN_FIRST_NAME=your_super_admin_first_name
APPLICATION_SUPER_ADMIN_LAST_NAME=your_super_admin_last_name
APPLICATION_SUPER_ADMIN_EMAIL=your_super_admin_email
APPLICATION_SUPER_ADMIN_PASSWORD=your_super_admin_password

APPLICATION_FRONTEND_URL=your_frontend_url

APPLICATION_TOKEN_PEPPER=your_token_pepper

SPRING_DATASOURCE_URL=your_database_url
SPRING_DATASOURCE_USERNAME=your_database_username
SPRING_DATASOURCE_PASSWORD=your_database_password

APP_MAIL_API_KEY=your_mail_api_key
APP_MAIL_FROM=your_mail_from
APP_MAIL_FROM_NAME=your_mail_from_nama

CORS_ALLOWED_ORIGINS=your_cors_allowed_origins

IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key