application:
  openapi:
    title: your_openapi_title
    version: your_openapi_version
    description: your_openapi_description
    name: your_openapi_name
    email: your_openapi_email

  security:
    jwt:
      secret: your_256_bit_secret_key_here_at_least_32_characters_long
      expiration: your_jwt_expiration_ms
      refresh-expiration: your_jwt_refresh_expiration_ms
      remember-me-expiration: your_jwt_remember_me_expiration_ms

  super_admin:
      first_name: your_super_admin_first_name
      last_name: your_super_admin_last_name
      email: your_super_admin_email
      password: your_super_admin_password

    cookies:
      secure: false

  frontend:
    url: your_frontend_url

  token:
    pepper: your_pepper_token_sha_256_bit_secret_key_here_64_characters_long

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/your_database_name
    username: your_username
    password: your_password

  jpa:
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME:your.email@gmail.com}
    password: ${GMAIL_PASSWORD:your_app_password}
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

cors:
  allowed-origins: your_frontend_url(s)

imagekit:
  private-key: your_imagekit_private_key